<h1>Relação de atividades complementares</h1>
<hr>

<a href="/aluno/atividades/cadastrar" class="btn btn-link">Criar nova atividade complementar</a>
<br>

<table class="table table-hover" style="width: 100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo de Atividade</th>
            <th scope="col">Atividade</th>
            <th scope="col">CH Total</th>
            <th scope="col">CH Aproveitada</th>
            <th scope="col">Situação</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each atividade}}
        <tr>
            <th scope="row">{{cod_atividade}}</th>
            <td>{{nome_tipo_atividade}}</td>
            <td>{{nome_atividade}}</td>
            <td>{{carga_horaria_atividade}}</td>
            <td>{{carga_horaria_aproveitada}}</td>
            <td class="text-{{#if vermelho}}danger{{/if}}{{#if verde}}success{{/if}}{{#if azul}}info{{/if}}">
                {{situacao_atividade}}</td>
            <td><a href="/aluno/atividades/exibir/{{cod_atividade}}">Ver detalhes</a>
        </tr>
        {{/each}}

    </tbody>
</table>