<center>
    <h1>Bem vindo: {{user.nome}} </h1>
</center>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Info:</h5>
        <hr>
        Usuário: <b>{{professor.login}}</b>
        <br>
        E-mail: <b>{{professor.email}}</b>
        <br>
        Função: <b>{{professor.funcao}}</b>
        <br>
        Telefone: <b>{{professor.telefone}}</b>
    </div>
</div>